 services:
  - type: web
    name: shadowv3
    env: node
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 10000
SHUTTLEAI_API_KEY="" # OPTIONAL, but required for AI to function.
